{% extends 'base.html' %}

{% block content %}
<style>
    /* Enhanced styles */
    .container {
        margin-top: 50px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }

    .btn-container {
        margin: 10px;
    }

    .btn-block {
        padding: 12px 24px;
        font-size: 18px;
        border-radius: 12px;
        transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        position: relative;
        overflow: hidden;
        color: #fff;
        background: linear-gradient(45deg, #2196F3, #0e4674);
        background-size: 200% 100%;
        animation: gradientAnimation 3s linear infinite, floatingAnimation 5s alternate infinite;
    }

    .btn-block:hover {
        background-position: right center;
        transform: translateY(-3px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-md-6 {
        width: 80%;
        padding: 10px;
    }

    .btn-icon {
        margin-right: 10px;
        font-size: 24px;
    }

    .btn-text {
        display: inline-block;
        font-size: 16px;
    }

    /* Floating Animation */
    @keyframes floatingAnimation {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-10px);
        }
    }


    h1, h2, h3 {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 24px;
    }

    p {
        margin-bottom: 16px;
    }
</style>

<div class="container">
    <h1>Bienvenue sur Votre Tableau de Bord de Gestion des Réservations</h1>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="btn-container">
                <a href="{% url 'association_listtoreserve' %}" class="btn btn-primary btn-block btn-tooltip" title="Créer des réservations (Association)">
                    <span class="btn-icon"><i class="fas fa-plus-circle"></i></span> Créer des réservations
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="btn-container">
                <a href="{% url 'reservation_management' %}" class="btn btn-primary btn-block btn-tooltip" title="Modifier une réservation (Association)">
                    <span class="btn-icon"><i class="fas fa-edit"></i></span> Modifier une réservation
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="btn-container">
                <a href="{% url 'reservation_list' %}" class="btn btn-primary btn-block btn-tooltip" title="Rechercher une réservation (Association)">
                    <span class="btn-icon"><i class="fas fa-search"></i></span> Rechercher une réservation
                </a>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="btn-container">
                <a href="{% url 'facture' %}" class="btn btn-primary btn-block btn-tooltip" title="Facturation">
                    <span class="btn-icon"><i class="fas fa-file-invoice"></i></span> Facturation
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="btn-container">
                <a href="{% url 'reservations_for_day' %}" class="btn btn-primary btn-block btn-tooltip" title="Effectif prévisionnel">
                    <span class="btn-icon"><i class="fas fa-users"></i></span> Effectif prévisionnel
                </a>
            </div>
        </div>
                <div class="col-md-6 mb-4">
            <div class="btn-container">
                <a href="{% url 'create_reservation' %}" class="btn btn-primary btn-block btn-tooltip" title="Créer une nouvelle réservation pour client indiv">
                    <span class="btn-icon"><i class="fas fa-plus-circle"></i></span> Créer une nouvelle réservation pour client indiv
                </a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="btn-container">
                <a href="{% url 'reservation_list_2' %}" class="btn btn-primary btn-block btn-tooltip" title="Modifier les réservation pour les client indiv">
                    <span class="btn-icon"><i class="fas fa-edit"></i></span> Modifier les réservation pour les client indiv
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
