{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Sélectionner un Client</h1>
  <form method="GET">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="search_query" placeholder="Rechercher par Code Client ou Nom Client">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Rechercher</button>
      </div>
    </div>
  </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Code Client</th>
        <th>Nom Client</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td>{{ client.codeclient }}</td>
          <td>{{ client.nomclient }}</td>
          <td>
            <a href="{% url 'create_reservation' %}" class="btn btn-primary">Créer une Réservation</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
